/* COLOR CODES

Teletrac Green 			:	#97c222
Text Dark Grey 			:   #3d393a
Text Gray				:	#6a747c
Text Blue				:	#02688f
Text Orange				:	#fcac00
Background Dark Grey 	:	#4d4d4f
Background Grey			:	#dad9d7

*/
/* BOOTSTARP OVERRIDES [START] */
body > .container-fluid {
	min-width: 320px;
}
.navbar-brand {
	height: auto;
}
.navbar-header {
	padding: 1.8em 0 1.8em 3.2em;
	position: relative;
/*    width: 29%;*/
}
.navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 0;
}
#topNav .slicknav_icon .slicknav_icon-bar,
.navbar-toggle .icon-bar {
	background-color: #97c222;
	height: 8px;
	width: 36px;
}
.navbar-brand,
.navbar-toggle {
	margin: 0;
	padding: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 1em;
	padding-right: 1em;
}
button, a, .badge, select {
	border-radius: 0!important;
}
.breadcrumb {
	background: transparent;
	padding-left: 0;
	margin-bottom: 0;
}
.breadcrumb>li+li:before {
	content:  ":";
	padding: 0 5px 0 2px;
}
.row {
	margin: 0 auto;
}
.wrapper {
	max-width: 1366px;
	margin: 0 auto;
}
*:not('.hero') .row:not(.flat) {
	padding: 2.5em 0;
}
.row.full {
	max-width: none;
}
.row.intro h5 {
	max-width: 1366px;
	margin: 0 auto;
}
/* BOOTSTARP OVERRIDES [END] */

/* COLORS [START] */
.green {
	color: #97c222;
}
.green-bg {
	background-color: #97c222;
}
.txt-dgrey {
	color: #3d393a;
}
.txt-grey {
	color: #6a747c;
}
.txt-blue {
	color: #02688f;
}
.txt-orange {
	color: #fcac00;
}
.bg-dgrey {
	background-color: #4d4d4f;
}
.bg-lgrey {
	background-color: #dad9d7;
}
.bg-grey {
	background-color: #898b8e;
}
.opaque-bg {
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	}
}
.children > * {
	background-color: inherit;
	color: inherit;
}
/* COLORS [END] */

/* GLOBAL [START] */
a:hover {
	text-decoration: underline;
	color: inherit;
}
.animatem, .animate img {
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-ms-transition: all 350ms ease-out;
	-o-transition: all 350ms ease-out;
	transition: all 350ms ease-out;
}
.btn-circle {
	border: 0.3em solid;
    border-radius: 2em!important;
    font-size: 1em;
    padding: 0.3em 0em;
}

* > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p,emph,span,strong,b,i,ul,ol {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input {
	background: transparent;
	border: none;
	padding: 0.5em 1em;
}
#type-wrapper {
	background: #f6f6f6;
}
#type-wrapper [class*='type-'] {
	margin: 3em 9em;
	padding-top: 3em;
}
#type-wrapper [class*='type-']:first-of-type {
	padding-top: 0;
}
#type-wrapper [class*='type-'] + [class*='type-'] {
	border-top: 1px solid #03698f;
}
#type-wrapper .post {
	max-width: 30.2%;
	padding: 0;
	margin-right: 3.7em;
}
#type-wrapper .post:last-of-type {
	margin: 0;
}
#jumbo-image {
	width: 100%;
}
/* GLOBAL [END] */

/* DIV ARROWS [START] */
[class*='arrow'] {
	position: relative;

}
.arrow-before::before,
.arrow-before::after {
	position: absolute;
	top: 0;
	content: '';
	width: 50%;
	height: 0;
	border-bottom: 2em solid #4d4d4d;
	-webkit-transform: translateY(-99.5%);
	-moz-transform: translateY(-99.5%);
	-o-transform: translateY(-99.5%);
	transform: translateY(-99.5%);
}
.arrow-before::before {
	left: 0;
	border-right: 5em solid transparent;
}
.arrow-before::after {
	left: 50%;
	border-left: 5em solid transparent;
}
.arrow-after::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 0;
	border-top: 2em solid #4d4d4d;
	border-left: 5em solid transparent;
	border-right: 5em solid transparent;
	-webkit-transform: translate(-50%, 99.5%);
	-moz-transform: translate(-50%, 99.5%);
	-o-transform: translate(-50%, 99.5%);
	transform: translate(-50%, 99.5%);
}

/* DIV ARROWS [END] */

/* HEADER [START] */
#topNav {
	border-bottom: 1px solid #4d4d4f;
	padding: 0.4em 0 1em;
	margin-bottom: 0;
}
#topNav li a {
	color: #4d4d4f;
}
#topNav li .bm-container a.main-link {
	background: #fff;
}
#topNav .btn.phone {
	font-size: 1.2em;
	margin-right: 1em;
	min-width: 3em;
	width: auto;
}
header#site-header {
	padding-bottom: 0;
	position: relative;
	max-width: 1366px;
	margin: auto;
}
#mainNav {
	padding-top: 1.3em;
}
#mainNav #site-nav .top-nav {
	width: 100%;
}
#mainNav ul li a.main-link {
	font-size: 0.7em;
	text-transform: uppercase;
}
#mainNav #site-nav li > a {
	font-size: 1em;
}
#mainNav #site-nav li > a.main-link::after {
	content: "\e252";
	display: inline-block;
    font-family: 'Glyphicons Halflings';
	font-size: 0.6em;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
	margin-left: 0.8em;
}
#mainNav #site-nav .top-nav-mega-full-width {
	background: #6b757e;
	left: 0!important;
	padding-top: 1.5em!important;
	width: 100%!important;
	max-width: 100%!important;
	height: auto!important;
}
#mainNav #site-nav .top-nav-mega-full-width a {
	color: #fff;
	font-size: 0.9em;
}
#mainNav #site-nav .top-nav-mega-full-width [class*='col'] > [class*='col'] {
	padding: 0 0.5em;
	margin: 0 0 0.5em;
}
#mainNav #site-nav .fw-hovered {
    background: #6b757e;
    color: #fff;
}
#mainNav #site-nav .top-nav-mega-full-width .headline {
	text-transform: uppercase;
/*	font-size: 1.1em;*/
	margin: 0 0.5em;
	color: #fff;
}
#mainNav #site-nav .top-nav-mega-full-width .about {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 2px solid #fff;
}
#mainNav #site-nav .top-nav-mega-full-width ul,
#mainNav #site-nav .top-nav-mega-full-width ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
#mainNav #site-nav .top-nav-mega-full-width .headline + ul,
#mainNav #site-nav .top-nav-mega-full-width .headline + ol {

	margin: 0 0 1em 1.5em;
}
#mainNav #site-nav .top-nav-mega-full-width ul li,
#mainNav #site-nav .top-nav-mega-full-width ol li {
	height: auto!important;
}
#customer-nav {
/*	width: 36%;*/
}
#phone-number {
	width: 15%;
}
#location-nav {
	width: 12.5%;
}
#search {
	padding: 2em;
	color: #000;
	width: 21.5%;
}
#search form {
	display: flex;
	border: 1px solid #4d4d4f;
	padding: 0.5em;
}
#search input {
	width: 100%;
}
#site-nav {
}
#topNav .slicknav_icon {
    position: relative;
    float: right;
    padding: 0 10px 9px;
/*    margin-top: 8px;*/
/*    margin-right: 15px;*/
/*    margin-bottom: 8px;*/
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#topNav .slicknav_menutxt {
	display: none;
}
#topNav .slicknav_icon .slicknav_icon-bar {
	display: block;
}
#topNav .slicknav_icon .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 4px;
}
/* HEADER [END] */

/* PAGE INTRO [START] */
#page-intro {
	background: #4d4d4d;
	color: #fff;
	border-radius: 0;
	margin-bottom: 0;
}
#page-intro h1 {
	font-size: 2.5em;
	font-weight: bold;
}
#page-intro p {
	font-size: 1.5em;
}
/* PAGE INTRO [END] */

/* HERO SLIDER [START] */
#hero-slider img {
	width: 100%;
	height: auto;
}
.intro,
.divider {
	position: relative;
	padding: 1em 2em;
	background: #4d4d4f;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
	font-size: 1.4em;
	text-align: left;
	color: #fff;
}
.divider {
	color: #fff;
	padding: 1em 0 2em 25%;
}

.intro h5 {
	font-size: 1em;
	font-weight: 500;
}
/* HERO SLIDER [END] */

/* INTRO [START] */
.intro.parallax {
	background: url(../../_images/_parallax/truck.jpg) no-repeat 50% 0 fixed;
	background-size: cover;
	margin: 0!important;
	padding: 0!important;
}
.intro.parallax div[class*='message'] {
	background: #4d4d4d;
	padding: 1.2em;
	margin-bottom: 4em;
}
.intro.parallax > div[class*='message']:last-of-type {
	margin-bottom: 0;
	padding-bottom: 2em;
}
.intro.parallax .center-block {
	max-width: 80%;
}
.intro div p, .intro div p + ul, .intro div p + ol {
	font-size: 14px;
}
.intro div ul {
	list-style: disc;
	list-style-position: inside;
}
.intro div ul, .intro div ol {
	font-size: 14px;
}

/* INTRO [END] */

#knowledge-base .row {
	padding: 0 15%!important;
}

/* FIGURE IMAGE GIRD [START] */
figure.image-grid {
	position: relative;
	font-size: 1em;
}
figure.image-grid img {
	max-width: 45%;
	margin-bottom: 0.8em;
}
figure.image-grid img:nth-child(odd) {
	margin: 0 0.5em 0.8em 0;
}
figure.image-grid figcaption {
	font-size: 0.8em;
	width: 100%;
	clear: both;
}
/* FIGURE IMAGE GIRD [END] */

/* SPEC [START] */
/*#spec {
	padding: 4em 15% 0;
}*/

#spec #cta-grid {
	text-align: justify;
}
#spec #cta-grid:after {
	display: inline-block;
	content: ' ';
	width: 100%;
}
#spec #cta-grid > div {
	margin: 0;
    padding: 0;
    max-width: 290px;
	float: none;
    display: inline-block;
    max-width: 48%;
	text-align: left;
}
/* SPEC [END] */

/* MEGA MENU OVERRIDES [START] */
#mainNav .bm-container {
	background: transparent;
}
#mainNav .top-nav > ul > li:hover > a {
	background: #6b757e;
	color: #fff;
}
/* MEGA MENU OVERRIDES [END] */
/* POST INDEX [START] */
#posts {
	padding: 3em 0;
}
#posts .post { 
	margin: 2em 0;
}
#posts .post .post-thumbnail {
	position: relative;
	padding: 0;
}
#posts .post .post-thumbnail img {
	/*min-width: 100%;*/
	width: auto;
}
#posts .post .content p a.read-more {
	display: block;
	line-height: 2.4em;
}

#posts .post header h6 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.6;
	margin: 0.5em 0 0;
}
#posts .post header h6 a {
	color: #000;
/*	padding-bottom: 0.1em;*/
/*	border-bottom: 1px solid;*/
	text-decoration: underline;
}
#posts .post header p.credits {
	font-size: 0.7em;
	margin: 0;
}
/* POST INDEX [END] */

/* PAGINATION [START] */
#pagination {
	margin: 0 auto 2em;
	padding: 2em 0;
/*	text-align: center;*/
}
#pagination > *,
#pagination ul.pages li {
	display: inline-block;
	vertical-align: middle;
}
#pagination a.prev,
#pagination a.next {
	font-size: 2em;
}
#pagination ul.pages {
	margin: 0 0.5em;
}
#pagination ul.pages li {
	padding: 0.3em 2em;
	background-color: #97c222;
}
#pagination ul.pages li.active {
	background-color: #4d4d4f;
	color: #fff;
}
#pagination ul.pages li.counter {
	background-color: transparent;
	color: #000;
	font-weight: bold;
}
/* PAGINATION [END] */

/* SIDEBAR [START] */
.sidebar {
	position: relative;
}
.select-cat {
	margin: 1em 0 6em;
	text-transform: uppercase;
	font-size: 0.8em;
	height: 30px;
}
#pagination .select-cat {
	margin-top: 0;
	margin-bottom: 0;
	float: right;
}
.select-cat::after {
	content: "\e250";
	font-family: 'Glyphicons Halflings';
	margin-left: 0.5em;
	vertical-align: baseline;
}
.sidebar article {
	margin-bottom: 2em;
}
.sidebar article figure img {
/*	margin: 0.5em auto;*/
	margin: 0 0 0.5em;
}
.sidebar article figcaption a {
	color: #000;
	text-decoration: underline;
}
.sidebar .related h4 {
	border-top: 1.5em solid #3d393a;
	padding-top: 1em;
}
.sidebar .related li {
	margin-bottom: 1em;
}
.sidebar .related li a {
	color: #000;
	text-decoration: underline;
}
/* SIDEBAR [END] */

/* CTA [START] */
header#site-header.cta {
	color: #fff;
	padding: 0 2em;
}
header#site-header .cta {
	position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    z-index: 99999;
	font-size: 0.7em;
	padding: 1.3em;
	max-width: 320px;
	margin-right: 6.6%;
	float: right;
}
header#site-header .cta h3, header#site-header .cta form {
	display: inline-block;
	vertical-align: middle;
}
header#site-header .cta h3 {
	width: 30%;
	font-size: 1em;
	font-weight: 200;
	margin: 0 2% 0 0;
	text-transform: uppercase;
	line-height: 1.4;
	color: #fff;
}
header#site-header .cta form {
	width: 64%;
	display: inline-flex;
	flex-direction: row;
}
header#site-header .cta input[type='text'] {
	background: transparent;
	color: #fff;
	border: 2px solid #898b8e;
	border-right: none 0;
}
header#site-header .cta button[type='submit'] {
	color: #000;
	font-size: inherit;
}
.download {
	white-space: normal;
	text-align: left;
	font-size: 0.7em;
	border-radius: 0;
	max-width: 94%;
	margin: 2em auto;
}
.download span {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	min-height: 2.4em;
}
.download span:nth-child(1) {
	width: 28%;
	border-right: 1px solid #4d4d4f;
	margin-right: 1.5%;
}
.download span:nth-child(2) {
	width: 68%;
	color: #000;
}
/* CTA [END] */

/* SOCIAL NETWORKS [START] */
#social-networks {
	padding: 2em 1em;
}
#social-networks ul {
	text-align: justify
}
#social-networks ul::after {
	content: ' ';
	width: 100%;
	display: inline-block;
}
#social-networks ul li {
	display: inline-block;
}
#social-networks ul li a img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.2);
    border-radius: 1em;
}
#social-networks ul li a:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	box-shadow: 0 0 35px 4px rgba(0,0,0,0.7);
}
/* SOCIAL NETWORKS [END] */

/* POLICY NAV [START] */
#policy-nav {
	background-color: #31322e;
	font-size: 0.8em;
	padding: 3em 0.4em;
}
#policy-nav span, #policy-nav ul, #policy-nav li {
	display: inline-block;
}
#policy-nav li::after {
	content: '|';
	margin: 0 0.3em 0 0.4em;
}
#policy-nav li:last-of-type::after {
	content: '';
	margin: 0;
}
#policy-nav .number {
	margin-left: 10em;
}
/* POLICY NAV [END] */

/* ARTICLE PAGE [START] */
#articles article {
	margin-bottom: 3em;
}
#articles header .breadcrumb li,
#articles header .breadcrumb a {
	text-transform: uppercase;
}
#articles header .title {
	margin-top: 0;
}
#articles footer div {
	margin: 2em 0;
}
#articles footer #author {
	padding-top: 2em;
	border-top: 0.5em solid #4d4d4f;
}
#articles footer #author figure {
	padding: 0;
}
#articles footer #author .name,
#articles footer #author p {
	display: inline;
	vertical-align: baseline;
	font-size: 1em;
}
#articles footer #article-comments header {
	color: #000;	
	padding: 1em 0;
	border-top: 0.5em solid #4d4d4f;
}
#articles footer #article-comments header h5 {
	margin: 0;
}
#articles footer #article-comments header h5,
#articles footer #article-comments header > span {
	vertical-align: middle;
}
#articles footer #article-comments footer,
#articles footer #article-comments textarea {
	width: 100%;
	border: 2px solid #dad9d7;
	border-collapse: collapse;
}
#articles footer #article-comments textarea {
	margin: 0;
	padding: 0;
	display: block;
	min-height: 200px;
}
#articles footer #article-comments footer {
	padding: 0.5em;
}
/* ARTICLE PAGE [END] */

/* AUTHOR PAGE [START] */
#author-articles #index-header {
	margin-right: 1em;
	/*border-bottom: 2px solid #6a747c;*/
}
#author-articles #posts {
	padding: 0 0 3em;
	margin-top: 2em;
}
#author-articles header h1,
#author-articles header h3 {
	margin: 0;
}
.author {
	padding: 2em 1em;
	margin: 1em 0;
	color: #fff;
}
.author button {
	color: #000;
}
/* AUTHOR PAGE [END] */

/* BRAG [START] */
#brag {
	background: url(../../_images/_parallax/homepage-paralax.jpg) no-repeat 50% 0 fixed;
	background-size: cover;
}
#brag .copy-block + .copy-block {
	margin: 2em 0;
}
#brag .copy-block header {
	background: rgba(3, 105, 143,0.55);
	display: block;
	margin-bottom: 0.7em;
}
#brag .copy-block header h5 {
	display: inline-block;
	background: rgba(3, 105, 143,0.85);
	margin: 0;
	padding: 0.5em 1em;
	min-width: 18em;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}
#brag .awards p * {
	display: block;
}
/*
#brag > .sponsors,
#brag > div.copy-block {
	padding-right: 25%;
}
*/
#brag div[class*='col'] {
	padding: 0;
}
#brag .sponsors > div {
	margin-bottom: 5%;
	padding-left: 0;
	padding-right: 1em;
	max-width: 20%;
}
/*
#brag > .sponsors > div:last-of-type {
	margin-left: 11%;
}
*/
#brag > div.copy-block p strong,
#brag > div.copy-block p emph {
	display: block;
}
#brag .img-responsive {
/*	max-width: 110px;*/
	box-shadow: 0 0 10px rgba(55,55,55,0.4);
}

#brag figure {
	margin-bottom: 0.5em;
	min-height: 60px;
	min-width: 60px;
	display: block;
	position: relative;
}
#brag figure img {
	position: absolute;
	bottom: 0;
}
/* BRAG [END] */

/* AWARDS [START] */
#awards p, #awards p *, #awards a {
	color: #fcac00;
}
#awards p {
	max-width: 15em;
}
/* AWARDS [END] */

/* JUSTIFIED gutter [START] */
#brag > div[class*='col-'] {
/*	text-align: justify;*/
	padding: 0;
}
/*
#brag > div[class*='col-']:after {
	width: 100%;
	display: table;
	content: ' ';
}
#brag > div[class*='col-'] > * {
	display: inline-block;
	text-align: left;
}
*/
/* JUSTIFIED GRID [END] */

/* ROWS CSS FROM RAISA [START] */
.knowledge-base {background-color:#f6f6f6;} /* section background color */

/* Plugin Elements */
.flex-row { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-flow: row wrap; }
.flex-col { display: flex; display: -webkit-flex; flex:auto 0; flex-flow: column wrap-reverse; flex-direction: column; min-height: auto; min-height: inherit; min-height: none; }
.flex-grow {display: flex; display: -webkit-flex; -webkit-flex: 2; flex:2;flex-flow:row wrap;}
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 { position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; }
.col-xs-15 { width: 20%; float: left; } @media (min-width: 768px) { .col-sm-15 { width: 20%; float: left; } } @media (min-width: 992px) { .col-md-15 { width: 20%; float: left; } } @media (min-width: 1200px) { .col-lg-15 { width: 20%; float: left; } }
/* END Plugin Elements */

/* Reuse Elements */
.type-wrapper {width:1090px;padding:0;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; color: #434d57; }
.type-wrapper a {text-decoration:none;}
.type-wrapper a:hover{text-decoration:underline;}
.green-arrow {color:#92c222;font-size: 12px; margin-left: 3px;}
.blue-arrow {color:#0094d8;font-size: 12px; margin-left: 3px;}
.white-arrow {color:#fff;font-size: 12px; margin-left: 3px;}
.hr-blue{border-top: 1px solid #03698f; clear: both;}
.hr-green{}
.hr-orange{}
.hr-white{}
.hr-grey-arrow-down{border: none; clear: both; background: url('images/grey-arrow-down.png') no-repeat center center; height: 25px; margin-bottom: 50px;}
/* END Reuse Elements */

/* Row Type A */
/*.type-a {background-color:#ffe5e5;}*/
.type-a {padding-left:0;padding-right:0;margin:0;}
.type-a-title {margin: 3.0em 0 1.5em 0;padding-left:0;padding-right:0;}
.type-a-title h2 {color:#000000; font-size: 24px; text-transform: uppercase; font-weight: 500;}
.type-a-column {width:100%; max-width: 320px; margin-left:0px;margin-right:64px; margin-bottom:3.0em; padding: 0px;}
.type-a-column:nth-child(3n+1) {margin-right: 0px;}
.type-a h4 {color: #434d57;font-size: 15px;line-height: 22px; font-weight: bold;}
.type-a a {color: #434d57;}
.type-a p {font-size: 15px;line-height: 22px}
.type-a .link {margin-top: 1.5em;}
/* END Row Type A */

/* Row Type B */
/*.type-b {background-color:#008080;}*/
.type-b {padding-left:0;padding-right:0;margin:0;}
/*.type-b hr {border-top: 1px solid #03698f; clear: both;}*/
.type-b-column {width:100%; max-width: 320px; margin-left:0px;margin-right:64px; margin-bottom:2.0em; padding: 0px;}
.type-b-column:nth-child(3n+1) {margin-right: 0px;}
.type-b h4 {color:#0094d8; font-size: 14px; line-height: 18px;margin-top: 4px;margin-bottom: 2px;}
.type-b a {color:#0094d8; font-size: 14px; line-height: 18px;font-weight: bold;}
.type-b p {color: #0094d8; font-size: 14px; line-height: 18px;}
.type-b img { float: left;padding-right: 16px;}
/* END Row Type B */

/* Row Type C */
/*.type-c{background-color:#00FF00;}*/
.type-c{padding-left:0;padding-right:0;margin:0;}
.type-c-title {margin: 0.5em 0 2.0em 0;padding-left:0;padding-right:0;}
.type-c-title h2 {color:#000000; font-size: 24px; text-transform: uppercase; font-weight: 500;}
.type-c-column {width:100%; max-width: 320px; margin-left:0px;margin-right:64px; margin-bottom:2.0em; padding: 0px;}
.type-c-column:nth-child(3n+1) {margin-right: 0px;}
.type-c h4 {color: #434d57;font-size: 15px;line-height: 22px; font-weight: bold;}
.type-c p {font-size: 15px;line-height: 22px;padding-right: 40%;}
.type-c a {color:#0094d8; font-size: 14px; line-height: 18px;font-weight: bold;}
/* END Row Type c */

/* Row Type D */
/*.type-d{background-color:#00FFFF;}*/
.type-d{padding-left:0;padding-right:0;margin:0;margin-bottom: 30px;}
.type-d-title {margin: 0.5em 0 2.0em 0;padding-left:0;padding-right:0;}
.type-d-title h2 {color:#000000; font-size: 24px; text-transform: uppercase; font-weight: 500;}
.type-d-column {padding:0;}
.type-d .inner{ background:#af9358; padding: 0;margin: 0 10px 10px 0;width: 118px;}
.type-d .inner:nth-child(4n){margin: 0 0 10px 0;}
.icon-box {width: 47.5%;}
.grey-box {background:#bbbcbe;padding: 20px 16% 20px 20px;margin-bottom: 10px;}
.grey-box p{font-size: 22px;}
.red-bg {background:#b45050 !important; }

/* END Row Type D */

/* Row Type F */
/*.type-f{background-color:#6495ED;}*/
.type-f{padding-left:0;padding-right:0;margin:0;}
.type-f-column { padding: 0;margin: 0 50px 50px 0; max-width: 235px;}
.type-f-column:nth-child(4n) {margin: 0 0 50px 0;}
.type-f h4 {color: #434d57;font-size: 15px;line-height: 22px; font-weight: bold;}
.type-f p {font-size: 15px;line-height: 22px;}
.type-f a {color: #434d57;font-size: 14px; line-height: 18px;font-weight: bold;}

/* END Row Type F */

/* Row Type G */
/*.type-g{background-color:#778899;}*/
.type-g{padding-left:0;padding-right:0;margin:0;}
.type-g-inner{padding-left: 9%}
.type-g-column { padding: 0;margin: 0 64px 50px 0; max-width: 130px;}
.type-g-column:nth-child(5n) {margin: 0 0 50px 0;}
.type-g-title {padding-left: 0;margin-bottom: 30px;}
.type-g-title h2 {color:#000000; font-size: 24px; text-transform: uppercase; font-weight: 500;}
.type-g h4 {color: #434d57;font-size: 15px;line-height: 22px; font-weight: bold;}
.type-g p {font-size: 15px;line-height: 22px;}
.type-g a {color: #434d57;font-size: 14px; line-height: 18px;font-weight: bold;}

/* END Row Type G */

/* Row Type H */
/*.type-h{background-color:#7FFFD4;}*/
.type-h{padding-left:0;padding-right:0;margin:0 0 20px 0;}
.type-h-column { padding: 0 50px 0 0;}
.type-h-title {padding-left: 0;margin-bottom: 30px;}
.type-h-title h2 {color:#000000; font-size: 24px; text-transform: uppercase; font-weight: 500;}
.type-h h4 {color: #434d57;font-size: 15px;line-height: 22px; font-weight: bold;}
.type-g p {font-size: 15px;line-height: 22px;}
.type-g a {color: #434d57;font-size: 14px; line-height: 18px;font-weight: bold;}
/* END Row Type H */

/* Row Type I */
/*.type-i{background-color:#4B0082;}*/
.type-i{padding-left:0;padding-right:0;margin:0 0 20px 0;}
.type-i-column { padding: 0 40px 0 0;}
.type-i-title {padding-left: 0;margin-bottom: 30px;}
.type-i-title h2 {color:#000000; font-size: 24px; text-transform: uppercase; font-weight: 500;}
.type-i h4 {color: #434d57;font-size: 15px;line-height: 22px; font-weight: bold;}
.type-i p {font-size: 15px;line-height: 22px;}
.type-i a {color: #434d57;font-size: 14px; line-height: 18px;font-weight: bold;}
 /* END Row Type I */

/* Row Type J */
/*.type-j{background-color:#808000;}*/
.type-j{padding-left:0;padding-right:0;margin:0;}
.type-j-inner {background:#e3aa63;padding: 8px;}
.type-j h4 {color: #434d57;font-size: 15px;line-height: 22px; font-weight: bold;}
.type-j a {color: #fff;font-size: 14px; line-height: 18px;font-weight: bold;}
.type-j p {color: #fff;font-size: 15px;line-height: 22px;}

/* END Row Type J */
        
/* ROWS CSS FROM RAISA [END] */

/* Desktop 961px - 1367px width*/
@media (max-width: 1215px) { 
	.container {width: 100%; padding: 0}
	.row {margin-right: 0px; margin-left: 0px;}
	*:not('#cta-grid') .box1{width:31.33%; margin-right:3%;}
}
/* END Desktop 961px - 1367px width*/


/* Mobile <= 960px width*/
@media (max-width: 978px) { 
	.container {/*float:left;*/width: 100%;padding: 0 8%;}
	.flex-col{display: block !important;}
	.row {margin-right: 0px; margin-left: 0px;}
	.row:first-child .box1 {width:100%; max-width: 100%; margin-right:3%;}
	.box1 img { float: left;padding-right: 20px;}
	*:not('#cta-grid') .box1 {max-height: 191px;}
	.row-sub-title, .row-sub-title a { margin-top: 0px;}
	.row:nth-child(2) .box1, .row:nth-child(3) .box1 {float: left;}
	.row:nth-child(2) .box1 img {padding-right: 10px;padding-bottom: 30px;}
	.row:nth-child(3) .box1 img {padding-bottom: 10px;}
	.row:nth-child(3) .box1 p {width: 100%;padding-right: 0;}
}   
@media (max-width: 680px) { 
	.container {padding: 0 5%;}
	.row-big-title {font-size:16px;}
	.box1 img { padding-right: 10px;}
	.row:first-child .box1 p, 
	.row:first-child .box1 h4:last-child,
	.row:nth-child(3) .box1 p {display: none;}
	.row:first-child .box1 img, 
	.row:nth-child(3) .box1 img {width: 46%;}
	.green-arrow {display: block;}
	.row-sub-title, .row-sub-title a {margin-top: 8px;line-height: 18px;font-size: 12px;}
	.row:nth-child(2) .box1, .row:nth-child(3) .box1 {width: 100%;}
	.row:nth-child(2) .box1 {margin-bottom: 10px !important;}
	.row:nth-child(2) .box1 img {padding-bottom: 10px;}
	.row:nth-child(3) .box1 .green-arrow { display: inline;}
	.box1{width:100%; margin-right:3%;}

}
/* END Mobile <= 960px width*/

/* BACK TO TOP [START] */
#back-to-top {
	margin: 0 0 4em;
}
/* BACK TO TOP [END] */
#sthoverbuttons {
	margin-left: 6%!important;
	margin-top: 10%!important;
}
/* FOOTER [START] */
footer {
	position: relative;
	padding-top: 4em;
}
footer .flex-wrapper {
	display: flex;
	flex-direction: column;
}
/*
footer#page-footer::before {
	content: ' ';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border: 6.5em solid transparent;
	border-top: 2.5em solid #dad9d7;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
*/

.footer.parallax {
	background: url(../../_images/_parallax/roadtext.jpg) no-repeat 50% 0 fixed;
	background-size: cover;
	min-height: 165px;
}

footer#page-footer .flex-wrapper {
	max-width: 1366px;
	margin: auto;
}

footer#page-footer, footer nav a {
	color: #fff;
}

footer h4 {
	font-weight: bolder;
}
footer .site-nav {
    margin: 2em 0 4em;
}
footer .site-nav div {
	padding: 0 3em;
}
footer form {
	display: flex;
}
footer #links {
	display: flex;
	flex-direction: row;
	margin: 2em auto 4em;
}
footer #links a {
	color: #fff;
	font-size: 1.2em;
    text-transform: uppercase;
    padding: 0.7em 3em;
    margin: 0 0.1em;
}
/* FOOTER [END] */

/* RESPONSIVE [START] */
@media screen and (max-width: 537px) {
	.top-nav ul li {
		display: block;
		float: none;
	}
	#mainNav #site-nav .top-nav-mega-full-width {
		display: block;
		float: none;
		top: 0;
		position: relative;
	}
}
@media screen and (min-width: 538px) {
	.navbar-nav>li {
		float: left;
	}
}
@media screen and (max-width: 767px) {
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		margin: 0;
		padding-left: 0;
	}
	
	header#site-header {
/*		margin: 0 0 2em;*/
	}
	
	#mainNav {
		padding: 1.3em 0 0;
		margin: 0;
	}
	#mobileMenu {
		position: static;
		padding: 0;
		width: auto;
		margin-top: 0.6em;
	}
	.navbar-header {
		padding-top: 0.3em;
		padding-bottom: 0;
	}
	.navbar-brand {
		padding-left: 1.7em!important;
		padding-right: 0!important;
	}
	#topNav .btn.phone {
		font-size: 0.8em;
		margin-right: 0;
		margin-top: 1em;
		padding: 0.5em 0;
	}
	.desktop, #mainNav.desktop {
		display: none!important;
	}
	.mobile, #mainNav.mobile {
		display: block!important;
	}
	#topNav .slicknav_nav {
		background: #6b757e;
		position: fixed;
		top: 15%;
		left: 0;
		width: 100%;
		color: #fff;
		z-index: 9999;
	}
	#topNav .slicknav_nav a {
		padding: 1em 4em 0.6em 1.9em;
		display: block;
		color: #fff;
		font-size: 1.1em;
		text-transform: uppercase;
	}
	#topNav .slicknav_nav > li {
/*		padding: 1em 4em 0.6em 1.9em;*/
		border-bottom: 1px solid #fff;
	}
	#topNav .slicknav_nav .slicknav_parent > ul[role='menu'] {
		background: #4d4d4f;
		font-size: 0.7em;
	}
	#topNav .slicknav_nav > .slicknav_parent > ul[role='menu'] > li a {
		padding: 0.5em 2.7em;
	}
	.navbar-brand>img {
		max-height: 66px;
	}
	.row.full:not(#site-header) {
		padding: 1.2em;
	}
}
@media screen and (min-width: 768px) {
	.gutter-5 {
		padding: 0 5%!important;
	}
	.gutter-left-25 {
		padding-left: 25%!important;
	}
	.gutter-right-25 {
		padding-right: 25%!important;
	}
	[class*="gutter"] .container {
		max-width: none!important;
		margin: 0; padding: 0;
	}
	#brag > div.copy-block > header {
		margin-right: -33.3%;
	}
	#mainNav {
		display: flex!important;
		flex-wrap: wrap;
		position: relative;
	}
	
	#mainNav > * {
		float: none;
		margin: 0 1.2em;
		padding: 0;
	}
	
	#mainNav > *:not(form) {
		padding-top: 0;
	}
	#site-nav {
		margin-top: 1em;
	}
/*
	#mainNav #search .form-group {
		min-width: 260px;
	}
*/
/*
	#topNav .navbar-nav {
		float: right;
		width: 55.3%;
		margin-top: 0.7em;
	}
*/
	#topNav .navbar-nav li.dropdown {
/*		float: right;*/
		margin-right: 1em;
	}
	
	
	#customer-nav {
		width: 36%;
	}
	
/*
	footer#page-footer::before {
		border-top-color: #fff;
	}
*/
	.mobile, #mainNav.mobile {
		display: none!important;
	}
	.desktop, #mainNav.dekstop {
		display: block!important;
	}
	#page-intro .row .container {
		padding-right: 25%;
	}
	#spec {
		padding: 4em 15% 0;
	}
}
@media screen and (max-width: 991px) {
	#sthoverbuttons {
		display: none!important;
	}

	#latest-post::after,
	.arrow::after {
		content: ' ';
		position: absolute;
		display: inline-block;
		width: 0;
		height: 0;
		line-height: 0;
		border: 6.5em solid transparent;
		border-top: 2.5em solid;
		left: 50%;
		top: 100%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#latest-post::after,
	.arrow.dark::after {
		border-top-color: #dad9d7;
	}
	.arrow.light::after {
		border-top-color: #fff;
	}
	.sidebar, #site-header .cta, footer .contact, footer .search {
		padding: 0 2em 4em;
	}
	.sidebar {
		padding-top: 4em;
	}
	.sidebar::before {
		content: ' ';
		position: absolute;
		display: inline-block;
		width: 0;
		height: 0;
		line-height: 0;
		border: 6.5em solid transparent;
		border-top: 2.5em solid #fff;
		left: 50%;
		top: 0;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#posts .post#latest-post {
		background-color: #dad9d7;
		margin-bottom: 4em;
		padding: 0;
	}
	#posts .post#latest-post header, #posts .post#latest-post .content {
		padding: 0 3em;
	}
	#posts .post#latest-post h6 {
		font-size: 1.8em;
	}
	#posts .post#latest-post .post-thumbnail {
		/*margin: 0 -1em;*/
	}
	#pagination {
		text-align: center;
		border-top: 2px solid;
		border-bottom: 2px solid;
	}
	#articles article .article-hero {
		margin-right: -15px;
		margin-left: -15px;
	}
	#articles footer div:first-of-type {
		margin-top: 0;
	}
	#articles footer #author {
		background: #4d4d4f;
		color: #fff;
		padding-top: 1em;
	}
	#author button {
		color: #000;
		margin: 1em 0;
	}
	#customer-nav {
		float: none;
		display: block;
	}
}

@media screen and (min-width: 992px) {
	.row > .container {
		width: 100%;
		max-width: 1366px;
		padding: 0;
	}
	#posts {
		border-top: 1px solid #babcbe;
		border-bottom: 1px solid #babcbe;
	}
	#author-index #posts .post {
		padding: 2em 0;
		border-bottom: 1px solid #babcbe;
		margin: 0 0 1em;
	}
	#author-index #posts .post:last-of-type {
		border-bottom: none 0;
	}
	#author-index #posts .post figure {
		margin-right: 1em;
	}
	#posts .post header {
		padding: 0;
	}
	main#article #posts .post .post-thumbnail {
		max-height: 210px;
		min-height: 210px;
		overflow: hidden;
/*
		max-width: 150px;
		float: none;
		margin: 0 auto;
*/
	}
	main#article #posts .post .post-thumbnail img {
		position: absolute;
		top: 50%;
		left: 50%;
		min-height: 100%;
		max-width: none;
		width: auto;
		height: auto;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	#articles, #author-articles {
		padding-left: 13%;
	}
	#policy-nav {
		/*margin: 0 -1.3em;*/
	}
	.sidebar, header#site-header .cta, footer .search, footer #policy-nav {
		border: 1px solid #000;
		border-right: none 0;
	}
	footer {
		padding-top: 0;
	}
	footer .flex-wrapper {
		flex-direction: column-reverse;
	}
	footer #social-networks {
		max-width: 25%;
	}
	footer .site-nav {
		margin: 0 auto 4em;
	}
}
/* RESPONSIVE [END] */