/* COLOR CODES

Teletrac Green 			:	#97c222
Text Dark Grey 			:   #3d393a
Text Gray				:	#6a747c
Text Blue				:	#02688f
Background Dark Grey 	:	#4d4d4f
Background Grey			:	#dad9d7

*/
/* BOOTSTARP OVERRIDES [START] */
.navbar-brand {
	height: auto;
}
.navbar-header {
	padding: 1.5em 0;
}
.navbar-toggle .icon-bar {
	background-color: #97c222;
	height: 8px;
	width: 36px;
}
.navbar-brand,
.navbar-toggle {
	margin: 0;
	padding: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 1em;
	padding-right: 1em;
}
button, a {
	border-radius: 0!important;
}
/* BOOTSTARP OVERRIDES [END] */

/* COLORS [START] */
.green {
	color: #97c222;
}
.green-bg {
	background-color: #97c222;
}
.txt-dgrey {
	color: #3d393a;
}
.txt-grey {
	color: #6a747c;
}
.txt-blue {
	color: #02688f;
}
.bg-dgrey {
	background-color: #4d4d4f;
}
.bg-lgrey {
	background-color: #dad9d7;
}
.bg-grey {
	background-color: #898b8e;
}
.children > * {
	background-color: inherit;
	color: inherit;
}
/* COLORS [END] */

/* GLOBAL [START] */
a:hover {
	text-decoration: underline;
	color: inherit;
}
.animatem, .animate img {
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-ms-transition: all 350ms ease-out;
	-o-transition: all 350ms ease-out;
	transition: all 350ms ease-out;
}
.btn-circle {
	border: 0.3em solid;
    border-radius: 2em;
    font-size: 1em;
    padding: 0.1em 0.3em 0.1em 0.4em;
}

* > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p,emph,span,strong,b,i {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input {
	background: transparent;
	border: none;
	padding: 0.5em 1em;
}
/* GLOBAL [END] */

/* HEADER [START] */
#topNav {
	border-bottom: 1px solid #4d4d4f;
	padding: 0.4em 2em 1em;
	margin-bottom: 0;
}
#topNav li a {
	color: #4d4d4f;
}
#topNav .btn.phone {
	font-size: 1.2em;
	margin-right: 1em;
}
header {
	margin-bottom: 2em;
}
/* HEADER [END] */

/* POST INDEX [START] */
#posts {
	border-top: 1px solid #babcbe;
	border-bottom: 1px solid #babcbe;
}
#posts .post { 
	margin: 2em 0;
}
#posts .post .post-thumbnail {
	position: relative;
	padding: 0;
}
#posts .post .post-thumbnail img {
	min-width: 100%;
	width: auto;
}
#posts .post .content p a.read-more {
	display: block;
	line-height: 2.4em;
}

#posts .post header h6 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.6;
	margin-bottom: 0.5em;
}
#posts .post header h6 a {
	color: #000;
/*	padding-bottom: 0.1em;*/
/*	border-bottom: 1px solid;*/
	text-decoration: underline;
}
#posts .post header p.credits {
	font-size: 0.7em;
}
/* POST INDEX [END] */

/* PAGINATION [START] */
#pagination {
	margin: 0 auto 2em;
	padding: 2em 0;
/*	text-align: center;*/
}
#pagination > *,
#pagination ul.pages li {
	display: inline-block;
	vertical-align: middle;
}
#pagination a.prev,
#pagination a.next {
	font-size: 2em;
}
#pagination ul.pages {
	margin: 0 0.5em;
}
#pagination ul.pages li {
	padding: 0.3em 2em;
	background-color: #97c222;
}
#pagination ul.pages li.active {
	background-color: #4d4d4f;
	color: #fff;
}
#pagination ul.pages li.counter {
	background-color: transparent;
	color: #000;
	font-weight: bold;
}
/* PAGINATION [END] */

/* SIDEBAR [START] */
.sidebar {
	position: relative;
	border: 1px solid #000;
	border-right: none 0;
}
.select-cat {
	margin: 1em 0 6em;
	text-transform: uppercase;
	font-size: 0.8em;
}
#pagination .select-cat {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 11em;
}
.select-cat::after {
	content: "\e250";
	font-family: 'Glyphicons Halflings';
	margin-left: 0.5em;
	vertical-align: baseline;
}
.sidebar article {
	margin-bottom: 2em;
}
.sidebar article figure img {
/*	margin: 0.5em auto;*/
	margin: 0 0 0.5em;
}
.sidebar article figcaption a {
	color: #000;
	text-decoration: underline;
}
.sidebar .related h4 {
	border-top: 1.5em solid #3d393a;
	padding-top: 1em;
}
.sidebar .related li {
	margin-bottom: 1em;
}
.sidebar .related li a {
	color: #000;
	text-decoration: underline;
}
/* SIDEBAR [END] */

/* CTA [START] */
.cta {
	color: #fff;
	padding: 0 2em;
}
header .cta {
	padding: 1.3em;
	max-width: 50%;
	font-size: 1em;
	margin-right: 6.6%;
	float: right;
}
header .cta h3, header .cta form {
	display: inline-block;
	vertical-align: middle;
}
header .cta h3 {
	width: 30%;
	font-size: 1em;
	font-weight: 200;
	margin: 0 5% 0 0;
	text-transform: uppercase;
	line-height: 1.4;
}
header .cta form {
	width: 64%;
	display: inline-flex;
	flex-direction: row;
}
.cta input[type='text'] {
	background: transparent;
	color: #fff;
	border: 2px solid #898b8e;
	border-right: none 0;
}
.cta button[type='submit'] {
	color: #000;
}
.download {
	white-space: normal;
	text-align: left;
	font-size: 0.7em;
	border-radius: 0;
	margin: 0 1em;
}
.download span {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	min-height: 2.4em;
}
.download span:nth-child(1) {
	width: 28%;
	border-right: 1px solid #4d4d4f;
	margin-right: 1.5%;
}
.download span:nth-child(2) {
	width: 68%;
	color: #000;
}
/* CTA [END] */

/* SEARCH [START] */
#search {
	padding: 2em;
	color: #000;
}
#search form {
	display: flex;
	border: 1px solid #4d4d4f;
	padding: 0.5em;
}

/* SEARCH [END] */

/* SOCIAL NETWORKS [START] */
#social-networks {
	padding: 2em 1em;
}
#social-networks ul {
	text-align: justify
}
#social-networks ul::after {
	content: ' ';
	width: 100%;
	display: inline-block;
}
#social-networks ul li {
	display: inline-block;
}
#social-networks ul li a img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.2);
    border-radius: 1em;
}
#social-networks ul li a:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	box-shadow: 0 0 35px 4px rgba(0,0,0,0.7);
}
/* SOCIAL NETWORKS [END] */

/* POLICY NAV [START] */
#policy-nav {
	background-color: #31322e;
	font-size: 0.8em;
	padding: 3em 0.4em;
}
#policy-nav span, #policy-nav ul, #policy-nav li {
	display: inline-block;
}
#policy-nav li::after {
	content: '|';
	margin: 0 0.3em 0 0.4em;
}
#policy-nav li:last-of-type::after {
	content: '';
	margin: 0;
}
#policy-nav .number {
	margin-left: 10em;
}
/* POLICY NAV [END] */

/* FOOTER [START] */
footer {
/*	padding: 0 2em;*/
}

footer, footer nav a {
	color: #fff;
}

footer h4 {
	font-weight: bolder;
}
/* FOOTER [END] */

/* RESPONSIVE [START] */
@media screen and (min-width: 768px) {
	#topNav .navbar-nav {
		float: right;
		width: 55.3%;
		margin-top: 0.7em;
	}
	#topNav .navbar-nav li.dropdown {
		float: right;
		margin-right: 1em;
	}
}

@media screen and (max-width: 991px) {
	#latest-post::after,
	.arrow::after {
		content: ' ';
		position: absolute;
		display: inline-block;
		width: 0;
		height: 0;
		line-height: 0;
		border: 6.5em solid transparent;
		border-top: 2.5em solid;
		left: 50%;
		top: 100%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#latest-post::after,
	.arrow.dark::after {
		border-top-color: #dad9d7;
	}
	.arrow.light::after {
		border-top-color: #fff;
	}
	.sidebar, .cta, footer .contact, footer .search, footer #policy-nav {
		padding: 4em 2em;
	}
	.cta::before,
	.sidebar::before {
		content: ' ';
		position: absolute;
		display: inline-block;
		width: 0;
		height: 0;
		line-height: 0;
		border: 6.5em solid transparent;
		border-top: 2.5em solid #fff;
		left: 50%;
		top: 0;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.cta::before {
		border-top-color: #dad9d7;
	}
	#posts .post#latest-post {
		background-color: #dad9d7;
		margin-bottom: 4em;
	}
	#posts .post#latest-post h6 {
		font-size: 1.8em;
	}
	#posts .post#latest-post .post-thumbnail {
		margin: 0 -1em;
	}
	#pagination {
		text-align: center;
		border-top: 2px solid;
		border-bottom: 2px solid;
	}
}

@media screen and (min-width: 992px) {
	#posts .post header {
		padding: 0;
	}
	#posts .post .post-thumbnail {
		max-height: 210px;
		min-height: 210px;
		overflow: hidden;
/*
		max-width: 150px;
		float: none;
		margin: 0 auto;
*/
	}
	#posts .post .post-thumbnail img {
		position: absolute;
		top: 50%;
		left: 50%;
		min-height: 100%;
		max-width: none;
		width: auto;
		height: auto;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	#policy-nav {
		margin: 0 -1.3em;
	}
}
/* RESPONSIVE [END] */