/* WAYOUT MENU V1.0 STYLES */

/* html, body, containers */
html, body, #map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

html, body, .main-container, .wrapper, .st-content {
  height: 100%;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.fixed {
  position: fixed; width: 100%;
}

.main { 
  z-index: 101;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;	
}

.hide {
  display: none;
}

.full-height {
  height: 100%;
}

.st-content {
  overflow-y: scroll;
  background: #EAF7FB;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:4;
}

.st-content-inner {
  height: 100%;
}

.wrapper {
  left: 0;
  z-index: 99;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.wrapper::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.menu-bg, .menu-bg-boxed {
  background: #50B7DC;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow:    0px 2px 3px rgba(0, 0, 0, 0.26);
  box-shadow:         0px 2px 3px rgba(0, 0, 0, 0.26);
  height: 44px;
  max-height: 44px;
  position: relative;
  z-index:4;
}

.menu-bg-boxed {
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
}

.site-width {
  width: 93%;
}

.site-width-boxed {
  width: 100%;
}


.bm-container {
  background: #2AA4CF;
  background: rgba(42,164,207,1);
  height: 44px;
  max-height: 44px;
  margin: auto;
  position: relative;
  z-index:5;
}

.content, .content-boxed {
  width: 93%;
  min-height:700px;
  height: 100%;
  height: auto;
  position: relative;
  top: 25px;
  margin: auto;
  padding:30px;
  background: #fff;
  opacity: 0.92;
  font-size: 12px;
}

.content-boxed {
  max-width: 1200px;
}

.settings {
  z-index: 1;
}

.site-title, .top-nav, .slidemenu-toggler, .loginbox-toggler {
  float:left;
}

.slidemenu-toggler, .loginbox-toggler {
  min-width:55px;  
  width:auto !important;  
  width:55px;
}

.site-title {
  min-width: 150px;
  margin-left:10px;
}

.top-nav {
  width: auto;
}

/* Social media buttons at TOP NAV */
.social-media {
  width: 450px;
  float:right;
}

/* Social Media buttons */
.facebook, .facebook-sb, .twitter, .twitter-sb, .google-plus, .google-plus-sb, .pinterest, .pinterest-sb, .instagram, .instagram-sb, .linkedin, .linkedin-sb, .yahoo, .yahoo-sb, .youtube, .youtube-sb, .vimeo, .vimeo-sb {
  display: block; 
  float:left;
  width: 45px;
  height: 44px;
  background: #7CCBE4;
  background-repeat: no-repeat;
  background-position: 8px 0px;
  border-left: 1px solid #2693BA;
  -webkit-transition: all ease 0.15s;
  -moz-transition: all ease 0.15s;
  -o-transition: all ease 0.15s;
  -ms-transition: all ease 0.15s;
  transition: all ease 0.15s;
}

.facebook span, .facebook-sb span, .twitter span, .twitter-sb span, .pinterest span, .pinterest-sb span, .google-plus span, .google-plus-sb span, .instagram span, .instagram-sb span, .linkedin span, .linkedin-sb span, .yahoo span, .yahoo-sb span, .youtube span, .youtube-sb span, .vimeo span, .vimeo-sb span {
  position: absolute;
  top: -999em;
}

.facebook:hover, .twitter:hover , .google-plus:hover, .pinterest:hover, .instagram:hover, .linkedin:hover, .yahoo:hover, .youtube:hover, .vimeo:hover { 
  background: #fff;
  background-repeat: no-repeat;
  background-position: 8px -44px;
}

.facebook, .facebook:hover {
  background-image: url(../img/facebook.png);
}

.twitter, .twitter:hover {
  background-image: url(../img/twitter.png);
}

.google-plus, .google-plus:hover {
  background-image: url(../img/googleplus.png);
}

.pinterest, .pinterest:hover {
  background-image: url(../img/pinterest.png);
}

.linkedin, .linkedin:hover {
  background-image: url(../img/linkedin.png);
}

.yahoo, .yahoo:hover {
  background-image: url(../img/yahoo.png);
}

.youtube, .youtube:hover {
  background-image: url(../img/youtube.png);
}

.vimeo, .vimeo:hover {
  background-image: url(../img/vimeo.png);
}

/* Headings */
h1 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
}

h2 {
  font-size: 22px;
  line-height: 34px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 26px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.bm-container h1 {
  color: #fff;
}

.top-nav .typo h1 {
  line-height: 40px;
}

.top-nav .typo h3 {
  font-size: 20px;
  line-height: 36px;
  margin: 0;
  font-weight: 500;
}

/* Text selection */
::selection {
  background: #d3d1da; /* Safari */
  color: #333;
}

::-moz-selection {
  background: #d3d1da; /* Firefox */
  color: #333;
}

/* Sidebar */
.hidden-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 250px;
  height: 100%;
  background: #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hidden-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.reveal-hidden-menu .hidden-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* Sidebar List Menu */
.hidden-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hidden-menu h2 {
  margin: 0;
  padding: 1em;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
}

.hidden-menu ul li a {
  display: block;
  padding: 5px 5px 5px 25px;
  outline: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  color: #888888;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.hidden-menu ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.hidden-menu ul li a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
  color: #fff;
}

.social-media-sidebar {
  width: 250px;
  height: auto;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

/* Social Media buttons @ sidebar */
.facebook-sb, .twitter-sb, .google-plus-sb, .pinterest-sb, .instagram-sb, .linkedin-sb, .yahoo-sb, .youtube-sb, .vimeo-sb {
  background: #000;
  background: rgba(0,0,0,0.1);
  background-repeat: no-repeat;
  background-position: 8px 0px;
  border-left: none;
  margin:5px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.facebook-sb:hover, .twitter-sb:hover , .google-plus-sb:hover, .pinterest-sb:hover, .instagram-sb:hover, .linkedin-sb:hover, .yahoo-sb:hover, .youtube-sb:hover, .vimeo-sb:hover { 
  background: #bbb;
  background: rgba(127,127,127,0.5);
  background-repeat: no-repeat;
  background-position: 8px 0px;
}

.facebook-sb, .facebook-sb:hover {
  background-image: url(../img/facebook.png);
}

.twitter-sb, .twitter-sb:hover {
  background-image: url(../img/twitter.png);
}

.google-plus-sb, .google-plus-sb:hover {
  background-image: url(../img/googleplus.png);
}

.pinterest-sb, .pinterest-sb:hover {
  background-image: url(../img/pinterest.png);
}

.linkedin-sb, .linkedin-sb:hover {
  background-image: url(../img/linkedin.png);
}

.yahoo-sb, .yahoo-sb:hover {
  background-image: url(../img/yahoo.png);
}

.youtube-sb, .youtube-sb:hover {
  background-image: url(../img/youtube.png);
}

.vimeo-sb, .vimeo-sb:hover {
  background-image: url(../img/vimeo.png);
}

/* Fallback example for browsers that don't support no JS fallback */
.no-csstransforms3d .wrapper, .no-js .wrapper {
  padding-left: -250px;
}

/* Effect Togglers */
.side-menu-toggle{
  background: #2693BA;
  background-image: url(../img/menu-toggle.png);
  background-repeat: no-repeat;
  background-position: 15px 11px;
  height: 44px;
  max-height: 44px;
  max-width: 54px;
  min-width: 54px;
  border: none;
}

.side-menu-toggle:focus {
  border: none;
  outline: none;
  background: #1F789A;
  background-image: url(../img/menu-toggle.png);
  background-repeat: no-repeat;
  background-position: 15px 11px;
}

.login-toggle, .search-toggle, .shop-toggle {
  background: #2693BA;
  background-image: url(../img/login.png);
  background-repeat: no-repeat;
  background-position: 10px 11px;
  border-left: 1px solid #248CB1;
  position: absolute;
  top: 0px;
  right: 45px;
  margin:0px;
  height: 44px;
  max-height: 44px;
  max-width: 44px;
  min-width: 44px;
  border: none;
}

.login-toggle:focus, .search-toggle:focus, .shop-toggle:focus {
	outline: none;
}

.search-toggle {
  right: 90px;
  background: #7CCBE4;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 9px 9px;
}

.shop-toggle {
  right: 0px;
  background: #333;
  background-image: url(../img/shopping-cart.png);
  background-repeat: no-repeat;
  background-position: 10px 11px;
}

/* Login Containers */
#login-container {
  visibility: hidden;
  position: absolute;
  top: -200px;
  right: 3.5%;
  width: 280px;
  height:250px;
  padding:20px;
  background:#DDF0F9;
  background: rgba(221, 240, 249, 1);
  border:1px solid #2AA4CF;
  border-top: none;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 0.6s ease;
  -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  z-index:2;
}

#login-container p {
  transition-delay: 0.6s;
}

#login-container.login-effect {
  visibility: visible;
  top:44px;
}

#login-container form input[type="text"]{
  background:transparent url(../img/login-username.png);
  background-repeat: no-repeat;
  width:240px;
  height:40px;
  border:none;
  outline:none;
  padding-left:60px;
  color:#F2F2F2;
  font-size:16px;
}

#login-container form input[type="text"]:focus,#login-container form input[type="password"]:focus{
  border:none;
  outline:none;	
}

#login-container form input[type="password"]{
  background:transparent url(../img/login-password.png);
  background-repeat: no-repeat;
  width:240px;
  height:40px;
  border:none;
  outline:none;
  padding-left:60px;
  color:#F2F2F2;
  font-size:16px;
  margin-top:10px;
}

#login-container form input:active{
  border: 1px solid #248CB1;
}

#login-container form button{
  width: 240px; height:40px; border:none; outline:none;
  background: #2aa4cf;
  border-radius: 5px;
  color:#FFF;
  font-size:20px;
  transition: all 0.6s ease;
}

#login-container form button:hover{
  border:none; outline:none;
  background: #57bcdd;
}

.register-forgot {
  width:240px;
  height:30px;
  display:block;
  margin-top:10px
}

.register-forgot a {
  color: #666;
}

.register-forgot a:hover { 
  color:#2693BA;
  text-decoration:underline;
}

/*Search and Shopping Cart Containers */
#search-container, #shop-container {
  visibility: hidden;
  position: absolute;
  top: -200px;
  right: 3.5%;
  width:180px;
  height:50px;
  font-family: 'Raleway', sans-serif;
  font-size:16px;
  padding-left:15px;
  background:#DDF0F9;
  background: rgba(221, 240, 249, 1);
  border:1px solid #2AA4CF;
  border-top: none;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 0.3s ease;
  -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
  z-index:2;
}

#search-container:focus {
  outline: none;
  border: none;
  background: rgb(38,147,186);
  background: rgba(38,147,186,0.7);
  color: #dff1f9;
}

#search-container:focus::-moz-placeholder, #login-container input::-moz-placeholder{
  color: #fff;
}
#search-container:focus::-ms-input-placeholder, #login-container input::-ms-input-placeholder{
  color: #fff;
}
#search-container:focus::-webkit-input-placeholder, #login-container input::-webkit-input-placeholder {
  color: #fff;
}

#search-container.search-effect, #shop-container.shop-effect {
  visibility: visible;
  top:40px;
}

#shop-container {
  right: 3.5%;
  width: 200px;
  max-height:200px;
  height: auto;
  padding: 10px;
  background: rgb(51,51,51);
  background: rgba(51,51,51,0.9);
  border:1px solid #000;
  color: #fff;
  font-size: 12px;
}

#shop-container a {
  color: #fff;
}

table.shop-item {
  width: auto;
  background: rgb(115,115,115);
  background: rgba(115,115,115,0.7);
  margin-bottom: 5px;
  padding: 5px;
  vertical-align: middle;
}

table.shop-item td {
  padding:5px;
  font-size: 14px;
}

.item-remove {
  margin-top:7px;
}

/* WAYOUT MENU "STANDARD NAV" */
.top-nav {
  position: relative;
}

.top-nav > ul > li > ul {
  -moz-box-shadow: 0 2px 5px #666;
  -webkit-box-shadow: 0 0 5px #666;
  box-shadow: 0 2px 5px #ccc;
  border-bottom: 2px solid #666;
}

/* STANDARD NAV 1st level */
.top-nav ul {
  list-style: none;
  position: relative;
}

.top-nav ul li {
  float:left;
  position: relative;
}

.top-nav > ul > li > a {
  display: block;
  height:40px;
  margin-top:4px;
  line-height: 44px;
  padding-left: 10px;
  padding-right:10px;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.top-nav > ul > li:hover > a {
  background: rgb(16,64,80); /* fallback for older browsers */
  background: rgba(16,64,80,1);
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}

.fw-hovered {
	/* This class is fix for 1st level hover on 1st level standard nav */
	background: rgb(16,64,80); /* fallback for older browsers */
	background: rgba(16,64,80,1);
	color: #fff;
	border-bottom: none;
	text-decoration: none;
}

/* STANDARD NAV 2ND level */
.top-nav > ul > li > ul {
  visibility:hidden;
  position: absolute;
  top: 44px;
  left: -25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.top-nav > ul > li > ul > li {
  float: none;	
}

.top-nav > ul > li:hover > ul {
  visibility: visible;	
}

.top-nav > ul > li:hover > ul > li > a {
  visibility: visible;
  height:44px;
  line-height: 44px;
  opacity: 1;
}

.top-nav > ul > li > ul > li > a {
  display: block;
  visibility: hidden;
  height:0px;
  line-height: 0px;
  opacity: 0;
  padding-left: 10px;
  padding-right:10px;
  width:150px;
  background: rgb(16,64,80);
  background: rgba(16,64,80, 0.8);
  color: #fff;
  transition:  all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  border-top: 1px solid #144F65;
  border-bottom: 1px solid #507270;
}

.top-nav > ul > li > ul > li > a:hover {
  background: rgb(10,40,50);
  background: rgba(10,40,50,0.9);
  text-decoration: none;
  border-bottom: 1px solid #104050;
  border-top: 1px solid #104050;
}

.top-nav > ul > li > ul > li:last-child a{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* STANDARD NAV 3rd level */
.top-nav ul ul ul {
  visibility:hidden;
  position: absolute;
  top: 0px;
  left: 125px;
}

.top-nav ul ul ul li {
  float: none;	
}

.top-nav ul ul li:hover > ul {
  visibility: visible;	
}

.top-nav > ul > li > ul > li > ul > li > a {
  display: block;
  visibility: hidden;
  width:0px;
  height: 0px;
  line-height: 0px;
  opacity: 0;
  padding-left: 10px;
  padding-right:10px;
  background: rgb(42,164,207);
  background: rgba(42,164,207, 0.8);
  color: #fff;
  transition:  all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  border-top: 1px solid #2696BB;
  border-bottom: 1px solid #6AC4E1;
}

.top-nav > ul > li > ul > li:hover > ul {
  visibility: visible;
}

.top-nav > ul > li > ul > li:hover > ul > li > a {
  visibility: visible;
  width:150px;
  height: 44px;
  line-height: 44px;
  opacity: 1;
}

.top-nav > ul > li > ul > li > ul > li:last-child a{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.top-nav > ul > li > ul > li > ul > li:first-child a{
  border-top-right-radius: 5px;
}

.top-nav > ul > li > ul > li > ul > li a:hover {
  background: rgb(38,153,191);
  background: rgba(38,153,191,0.9);
  text-decoration: none;
  border-bottom: 1px solid #2699BF;
  border-top: 1px solid #2699BF;
}

/* STANDARD NAV 4th level */
.top-nav ul ul ul ul {
  visibility:hidden;
  position: absolute;
  top: 0px;
  left: 125px;
}

.top-nav ul ul ul ul li {
  float: none;	
}

.top-nav ul ul ul li:hover > ul {
  visibility: visible;	
}

.top-nav > ul > li > ul > li > ul > li > ul > li > a {
  display: block;
  visibility: hidden;
  width:0px;
  height: 0px;
  line-height: 0px;
  opacity: 0;
  padding-left: 10px;
  padding-right:10px;
  background: rgb(98,166,202);
  background: rgba(98,166,202, 0.8);
  color: #fff;
  transition:  all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  border-top: 1px solid #5B9CC8;
  border-bottom: 1px solid #92BDDA;
}

.top-nav > ul > li > ul > li > ul > li:hover > ul {
  visibility: visible;	
}

.top-nav > ul > li > ul > li> ul > li:hover > ul > li > a {
  visibility: visible;
  width:150px;
  height: 44px;
  line-height: 44px;
  opacity: 1;
}

.top-nav > ul > li > ul > li > ul > li > ul > li:last-child a{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.top-nav > ul > li > ul > li > ul > li > ul > li:first-child a{
  border-top-right-radius: 5px;
}

.top-nav > ul > li > ul > li > ul > li > ul > li a:hover {
  background: rgb(91,156,200);
  background: rgba(91,156,200,0.9);
  text-decoration: none;
  border-bottom: 1px solid #62a6ca;
  border-top: 1px solid #62a6ca;
}

/* TOP NAV "MEGA NAVs" 
   There are 6 different MEGA MENU NAVS: 200px, 300px .... and full width mega menu
   Any of them can be used simply calling the class name. An example can be found at: www.
   See the following example to see how to change the menu direction (RTL or LTR) at: www.
*/
.top-nav-mega-1, .top-nav-mega-2, .top-nav-mega-3, .top-nav-mega-4 {
  visibility: hidden;
  opacity: 0;
  height:0px;
  position: absolute;
  padding: 10px;
  background: rgb(16,64,80);
  background: rgba(16,64,80, 0.8);
  color: #eee;
  transition: all 100ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.top-nav > ul > li.top-nav-mega:hover > ul {
  visibility: visible;
  opacity: 1;
  max-height:600px;
  height: auto;
  padding: 10px;
  transition: all 800ms cubic-bezier(0.40, 0.960, 0.150, 0.940);
}

.top-nav-mega-1 {
  /* Change according to your needs */
  width: 400px;
}

.top-nav-mega-2 {
  /* Change according to your needs */
  width: 600px;
}

.top-nav-mega-3 {
  /* Change according to your needs */
  width: 800px;
}

.top-nav-mega-4 {
  /* Change according to your needs */
  width: 1000px;
}

  /* This is full width MEGA NAV */
.top-nav-mega-full-width {
  display: none;
  position: absolute;
  top: 44px;
  max-height: 2000px;
  background: rgb(16,64,80);
  background: rgba(16,64,80, 0.8);
  padding: 10px;
  color: #eee;
}

.top-nav > ul > li > ul.top-nav-mega-1.top-nav-rtl {
  /* For RTL positioning */
  left:-331px;
}

.top-nav > ul > li > ul.top-nav-mega-2.top-nav-rtl {
  /* For RTL positioning */
  left:-531px;
}

.top-nav > ul > li > ul.top-nav-mega-3.top-nav-rtl {
  /* For RTL positioning */
  left:-731px;
}

.top-nav > ul > li > ul.top-nav-mega-4.top-nav-rtl {
  /* For RTL positioning */
  left:-931px;
}

/* TOP NAV "MEGA NAV" -> NEWS NAV Content */
.mega-news-item {
  background: rgba(0,0,0);
  background: rgba(0,0,0,0.1);
  color: #ddd;
  margin-bottom: 10px;
  padding:10px;
  font-size: 12px;
}

.mega-news-item div {
  padding-top:0px;
}

.mega-news-item img {
  display: inline-block;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.3);
  padding: 5px;
}

.mega-news-item h3, .mega-news-item h3 a {
  font-size:16px;
  line-height:20px;
  font-weight: 200;
  margin: 0px;
  color: #FCC
}

.mega-news-item h3 a:hover {
  text-decoration: underline;
}

/* TOP NAV "MEGA NAV" -> FULL WIDTH NAV Content */
.top-nav-mega-full-width .span2 {
  margin-left:30px;
  padding: 0;
}

.top-nav-mega-full-width .span3 {
  margin-left:18px;
  padding: 0;
}

.top-nav-mega-full-width ul, .top-nav-mega-full-width ol {
  visibility: visible;
  list-style: circle;
  float: none;
  margin: 10px 40px;
}

.top-nav-mega-full-width ol {
  list-style: decimal;
}

.top-nav-mega-full-width ul li, .top-nav-mega-full-width ol li {
  height:30px;
  float: none;
}

.top-nav-mega-full-width ul li a, .top-nav-mega-full-width ol li a {
  float: none;
  color: #efe;
}

.top-nav-mega-full-width h3, .top-nav-mega-full-width h3 a {
  font-size: 18px;
  line-height:22px;
  font-weight: 200;
  margin: 0px 20px;	
}

/* TOP NAV "MEGA NAV" -> PRODUCT NAV Content */
.product-frame {
  background: rgb(15,60,74);
  background: rgba(15,60,74,0.8);
  border: 5px solid #104050;
  color: #ddd;
  height: 100px;
  padding:10px;
  transition:  all 0.3s ease;
}

.product-frame:hover {
  background: rgb(240,240,240);
  background: rgba(240,240,240,0.2);
  border: 5px solid #fdfdfd;
  cursor: pointer;
}

.product-row {
  margin: 7px 20px;
}

.product-image {
  height: 60%;
  vertical-align: top;
}

.product-category {
  height: 30%;
  margin-top: 5%;
}

.product {
  width:60px;
  margin: auto;
}

.product-category h4, .product-category h4 a {
  font-size: 12px;
  line-height:12px;
  font-weight: 200;
  color: #efefef;
}

.product-category h4 a:hover {
  text-decoration: none;
}

/* TOP NAV "MEGA NAV" -> ELEMENTS NAV Content */
.top-nav-mega-content {
  padding: 5px;
}

.item-with-images, .item-with-images-black {
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.8);
  color: #333;
  padding:0px;
  margin-bottom: 10px;
  position:relative
}

.item-with-images-black {
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.8);
}

.item-with-images .span9:hover .read-more, .item-with-images .span9:hover .cat {
  visibility: visible;
  height:22px;
  opacity: 1;
}

.item-with-images:hover {
  
}

.item-with-images .span9, .item-with-images-black .span9 {
  padding: 7px 14px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin:0px;
}

.item-with-images p, .item-with-images a, .item-with-images-black p, .item-with-images-black a {
  line-height:22px;
  font-size: 12px;
}

.item-with-images a, .item-with-images-black a {
  display: block;
  color: #104050;
}

.typo-icons {
  padding:10px;
}

.read-more, .cat {
  visibility: hidden;
  position: absolute;
  bottom:0px;
  right: 0px;
  width:90px;
  height:0px;
  padding-left: 25px;
  border-top-left-radius: 8px;
  background: rgb(51,51,51);
  background: rgba(51,51,51,1);
  background-repeat: no-repeat;
  background-position: 8px 5px;
  transition: all 0.1s ease;
  opacity: 0;
}

.cat {
  top: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 8px;
  background-image: url(../img/cat.png);
}

.read-more {
  background-image: url(../img/read-more.png);
}

.read-more, .read-more a, .cat, .cat a {
  color: #fff;
  font-size:10px;
}

.image-gallery img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 15.2%;
}

/* TOP NAV "MEGA NAV" -> CONTACT US NAV Content */ 
.top-nav input[type="text"], .top-nav textarea {
  width:97%;
  height:35px;
  background: rgb(34,34,34);
  background: rgba(34,34,34,0.6);
  border:none;
  border-radius: 0px;
  outline:none;
  padding-left:10px;
  color:#F2F2F2;
  font-size:12px;
  border: 1px solid #333;
  resize: none;
}

.top-nav input[type="text"]:focus {
  border:none;
  outline:none;
  border: 1px solid #2aa4cf;
}

.top-nav input:active {
  border: 1px solid #248CB1;
}

.top-nav textarea {
  height:70px;
}

.top-nav textarea:focus {
  border: 1px solid #2aa4cf;
}

#contact-us table {
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

#contact-us table td {
  height: 25px;
}

.contact-us-image {
  width: 24px;
}

#contact-us button{
  width: 40%; 
  height:35px;
  font-size:14px;
  line-height:14px; 
  border:1px solid; 
  outline:none;
  background: #4f4f4f;
  border-color: #505050 #414141 #2c2c2c;
  background-image: -webkit-linear-gradient(top, dimgrey, #333 80%, #111111);
  background-image: -moz-linear-gradient(top, dimgrey, #333 80%, #111111);
  background-image: -o-linear-gradient(top, dimgrey, #333 80%, #111111);
  background-image: linear-gradient(to bottom, dimgrey, #333 80%, #111111);
  color:#fdfdfd;	
}

#contact-us button:hover{
  border: 1px solid #CCC;
}

/* TOP NAV MEGA - SEPERATOR HORIZONTAL LINE */
.top-nav-mega-content-seperator {
  width: 100%;
  border-top: 1px solid #144F65;
  border-bottom: 1px solid #507270;
  line-height:2px;
  height: 2px;
  margin:0;
  margin-bottom: 10px;
  padding:0
}

/* FOR ALL NAV ITEMS, HOVER EFFECT */
.curtain {
  position: absolute;
  visibility: hidden;
  top: 44px;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.3);
  z-index: 100;
}

/* BOOTSTRAP ICON MARGIN */
.icon-pos { 
  margin: 1px 8px;
}

/* DEMO STYLES
   This is demo styles used to show the menu with full customization options. 
   You don not need to use below styles
*/
.settings-table td {
  vertical-align: middle;
}

.settings-table td#containerbg1Value, .settings-table td#containerbg2Value, .settings-table td#slideTogglerValue, .settings-table td#loginTogglerValue, .settings-table td#sidebarbgValue, .settings-table td#loginformbgValue, .settings-table td#firstLevelBgValue, .settings-table td#firstLevelHoverBgValue, .settings-table td#secondLevelBgValue, .settings-table td#secondLevelHoverBgValue, .settings-table td#secondBorder1Value, .settings-table td#secondBorder2Value, .settings-table td#thirdLevelBgValue, .settings-table td#thirdLevelHoverBgValue, .settings-table td#thirdBorder1Value, .settings-table td#thirdBorder2Value, .settings-table td#forthLevelBgValue, .settings-table td#forthLevelHoverBgValue, .settings-table td#forthBorder1Value, .settings-table td#forthBorder2Value {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:10px;
}

.description {
  font-size: 22px;
  line-height:30px;
  font-weight: 300;
  color: #888
}

table.swatches td {
  padding:5px;
  border: none;
}

.swatch1, .swatch2, .swatch3, .swatch4, .swatch5, .swatch6, .swatch7, .swatch8, .swatch9 {
  width:40px;
  height: 35px;
  background: #0cbfb3;
  border: 2px solid #0fe8d8;
  border-radius: 4px;
  cursor: pointer;
}

.swatch1 {
  background: #394240;
  border: 2px solid #667773;
}

.swatch2 {
  background: #556270;
  border: 2px solid #8d9aa9;
}

.swatch3 {
  background: #5b5646;
  border: 2px solid #b5af9f;
}

.swatch4 {
	background: #0cbfb3;
  border: 2px solid #0fe8d8;
}

.swatch5 {
  background: #107fc9;
  border: 2px solid #4eaff1;
}

.swatch6 {
  background: #a1dc40;
  border: 2px solid #c0e87d;
}

.swatch7 {
  background: #db2e02;
  border: 2px solid #fd562d;
}

.swatch8 {
  background: #2aa4cf;
  border: 2px solid #7ecbe4;
}

.swatch9 {
  background: #1b1b1b;
  border: 2px solid #565656;
}

.full-spectrum .sp-palette {
  max-width: 200px;
}

.popover {
  max-width: 500px;
  width: auto;
}

.st-content {
  background: #fff;
}